@import 'antd/dist/antd.variable.min.css';

.App {
  text-align: center;
}

.logo {
  width: 180px;
  margin: 14px;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}